div#user-menu(class="ui-front", style={position: "fixed", top: "1em", right: "1em"})
  button #{user.firstName} #{user.lastName}
  input(type="hidden", id="token", value="#{user.token}")
  ul
    li Logout
    li Item 2
    li Item 3