doctype html
html
  head
    meta(charset="utf-8")
    title= 'InFootball'
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/jquery/jquery-ui.min.css', rel='stylesheet')
    link(href='/jquery/jtable.2.4.0/jtable_jqueryui.css', rel='stylesheet')
    link(href='/jquery/datetimepicker/jquery.datetimepicker.css', rel='stylesheet')
    style
      block style
        | .ui-state-highlight {
        |   background: #f7e3e3 !important;
        | }
        | [contenteditable=true]:empty:before {
        |   content: "\feff ";
        |   display: block; /* For Firefox */
        | }
      

    script(src='/jquery/jquery.js')
    script(src='/jquery/jquery-ui.min.js')
    script(src='/jquery/jquery.jtable.js')
    script(src='/jquery/jtable.2.4.0/localization/jquery.jtable.fr.js')
    script(src='/jquery/jquery.datetimepicker.js')
    script(src='/jquery/jquery.deserialize.js')
    script(src='/javascript/socket.io.js')
    script(src='/javascript/utility.js')
    script
      block script
        | console.log("Running on openshift: " + (document.location.hostname.indexOf('rhcloud.com') > 0 ));
        | $( function() {
        |   $( "#tabs" ).tabs();
        | });
        include header.js
        include socket.js
        include template.js
        include metadata.js
        include live.js
        include rest.js
        include football.js
        include metadata-link.js
        include players.js

  body
    include header.jade

    div#tabs(style={position: "absolute", top: "4em", width: "98%"})
      ul
        li
          a(href='#tabs-1') Template
        li
          a(href='#tabs-2') Metadata
        li
          a(href='#tabs-3') Live
        block admin-tab

      div#tabs-1
        include template.jade
      div#tabs-2
        include metadata.jade
      div#tabs-3
        include live.jade
      block admin-content
