div#games
div#game-toolbar
div#game-editor
div#tabs-live
  ul
    li
      a(href='#tabs-live-1') Opérateur 1
    li
      a(href='#tabs-live-2') Opérateur 2
    li
      a(href='#tabs-live-3') Opérateur 3

  div#tabs-live-1
    div#questions-selection

  div#tabs-live-2
    div#questions-answers

  div#tabs-live-3
    div#players-list(style={float: "left", margin: "20px"})
    div#players-field(style={float: "left", position: "relative"})
      include ../../public/assets/field.svg
      div#players-layout
    select#players-composition(style={float: "left"})
      option --select--
      option 4-4-2
      option 4-3-3
      option 5-3-2
    div#question-edit
