div#games
div#game-toolbar
div#game-editor
div#tabs-live
  ul
    li
      a(href='#tabs-live-1') Opérateur 1
    li
      a(href='#tabs-live-2') Opérateur 2
    li
      a(href='#tabs-live-3') Opérateur 3

  div#tabs-live-1
    div#questions-selection

  div#tabs-live-2
    div#questions-answers

  div#tabs-live-3
    p Contenu 2

