div#metadata
  div#teams(style={position: "absolute", width: "96%"})
  div#players(style={position: "absolute", width: "96%"})
  div#question-link-dialog(style={position: "absolute"}, title="Link metadata")
    input(type="text")
