div
  div#templates(style={width: "40%", float: "left"})
  div#side(style={width: "59%", float: "left", "margin-left": "1%"})
    div#questions
    div#teams-selection
  div#question-link-dialog(style={position: "absolute"}, title="Link metadata")
    input#metadata-link-edit(type="text")
