doctype html
html
  head
    title= 'Admin'
    link(href='/jquery/jquery-ui.min.css', rel='stylesheet')
    link(href='/jquery/jtable.2.4.0/jtable_jqueryui.css', rel='stylesheet')
    style
      block style

    script(src='/jquery/jquery.js')
    script(src='/jquery/jquery-ui.min.js')
    script(src='/jquery/jquery.jeditable.js')
    script(src='/jquery/jquery.jtable.js')
    script(src='/javascript/socket.io.js')
    script
      | var port = (document.location.hostname.indexOf('rhcloud.com') > 0 ) ? 8000 : 8080;
      | console.log("Running on openshift: " + (document.location.hostname.indexOf('rhcloud.com') > 0 ));

  body
    div#header(class="ui-widget ui-widget-content", style={padding: "6px", float: "right"})
      div(style={display: "inline-block"}) #{user.firstName} #{user.lastName}
      a(href='/signout')
        span(class="ui-icon ui-icon-power", style={ display: "inline-block"})
    div#tabs(style={top: "2em"})
      ul
        li
          a(href='#tabs-1') Template
        li
          a(href='#tabs-2') Metadata

          if (user.type == "Admin")
            li
              a(href='#tabs-3') Users

      div#tabs-1
        include template.jade
      div#tabs-2
        include metadata.jade

      if (user.type == "Admin")
        div#tabs-3
          include users.jade

    script
      block jquery
        | $( "#tabs" ).tabs();
