doctype html
html
  head
    title= 'Admin'
    link(href='/jquery/jquery-ui.min.css', rel='stylesheet')
    style
      block style

  body
    div#tabs
      ul
        li
          a(href='#tabs-1') Template
        li
          a(href='#tabs-2') Second
        li
          a(href='#tabs-3') Third
      div#tabs-1
        block template
          p Empty
      div#tabs-2 Content tab 2
      div#tabs-3 Content tab 3
    script(src='/jquery/jquery.js')
    script(src='/jquery/jquery-ui.min.js')
    script
      block jquery
        | $( "#tabs" ).tabs();
