doctype html
html
  head
    title= 'Admin'
    link(href='/jquery/jquery-ui.min.css', rel='stylesheet')
    link(href='/jquery/jtable.2.4.0/jtable_jqueryui.css', rel='stylesheet')
    style
      block style

    script(src='/jquery/jquery.js')
    script(src='/jquery/jquery-ui.min.js')
    script(src='/jquery/jquery.jeditable.js')
    script(src='/jquery/jquery.jtable.js')
    script(src='/javascript/socket.io.js')
    script
      | var port = (document.location.hostname.indexOf('rhcloud.com') > 0 ) ? 8000 : 8080;
      | console.log("Running on openshift: " + (document.location.hostname.indexOf('rhcloud.com') > 0 ));

  body
    div.ui-front(style={position: "fixed", top: "1em", right: "1em"})
      button#user-settings #{user.firstName} #{user.lastName}
      ul#user-menu
        li Logout
        li Item 2
        li Item 3

    script
      | $(function() {
      |   var menu = $("#user-menu");
      |   $("#user-settings").button({
      |     icons: {
      |       secondary: "ui-icon-triangle-1-s"
      |     }
      |   }).click(function() {
      |     menu.show();
      |   }).css("min-width", "6em");
      |   menu.menu({
      |     select: function(event, ui) {
      |       switch(ui.item.text()) {
      |       case "Logout":
      |         document.location = "/signout";
      |         break;
      |       default:
      |         console.log("Menu item slected: " + ui.item.text());
      |       }
      |       menu.hide();
      |     }
      |   }).position({
      |     my: "left top ",
      |     at: "left bottom",
      |     of: $("#user-settings")
      |   }).hide();
      |   $("#user-settings, #user-menu").mouseleave(function() { 
      |     if(!menu.is(":hover")) {
      |       menu.hide();
      |     }
      |   });
      | });

    div#tabs(style={position: "absolute", top: "4em"})
      ul
        li
          a(href='#tabs-1') Template
        li
          a(href='#tabs-2') Metadata

          if (user.type == "Admin")
            li
              a(href='#tabs-3') Users

      div#tabs-1
        include template.jade
      div#tabs-2
        include metadata.jade

      if (user.type == "Admin")
        div#tabs-3
          include users.jade

    script
      block jquery
        | $( "#tabs" ).tabs();
