div#metadata
  div#teams
  div#players

script
  | // Todo: pass the 'port' variable in the tube?
  | $( function() {
  | var socket = io( document.location.hostname + ':' + port + '/operator' );
  | var context = {
  |   players: {
  |     root: ""
  |   }
  | };
  | var promises = {};
  | $( "#teams" ).jtable({
  |   title: "Equipes",
  |   jqueryuiTheme: true,
  |   actions: {
  |     listAction: function(response, options) {
  |       return {
  |         "Result": "OK",
  |         "Records": response.team
  |       };
  |     },
  |     createAction: function(postData) {
  |       var team = extract(postData);
  |       socket.emit('message', { method: "CREATE", uri: "teams/new", data: team });
  |       return {
  |         "Result": "OK",
  |         "Record": team
  |       };
  |     },
  |     updateAction: function(postData) {
  |       var team = extract(postData);
  |       socket.emit('message', { method: "UPDATE", uri: "teams/" + team._id, data: team });
  |       return {
  |         "Result": "OK"
  |       };
  |     },
  |     deleteAction: function(team){
  |       socket.emit('message', { method: "DELETE", uri: "teams/" + team._id, data: team });
  |       return {
  |         "Result": "OK"
  |       };
  |     }
  |   },
  |   fields: {
  |     _id: {
  |       key: true,
  |       list: false
  |     },
  |     logo: {
  |       title: "Logo",
  |       display: function(team) {
  |         return $('<img src="' + team.record.logo + '"></img>');
  |       }
  |     },
  |     name: {
  |       title: "Equipe"
  |     },
  |     coach: {
  |       title: "Entraineur"
  |     },
  |     president: {
  |       title: "President"
  |     },
  |     stadium: {
  |       title: "Stade"
  |     },
  |     players: {
  |       title: "Joueurs",
  |       edit: false,
  |       create: false,
  |       display: function(team) {
  |         var $button = $('<button />');
  |         $button.button({ 
  |           icons: { secondary: "ui-icon-triangle-1-e" },
  |           label: "edit"
  |         }).click(function() {
  |           console.log("Editing team/" + team.record._id + "/players/");
  |           context["players"].root = "teams/" + team.record._id + "/";
  |           $( "#teams" ).hide();
  |           $( "#players" ).jtable('load').show();
  |           $( "#players" ).find('.jtable-title-text').html("Equipes / " + team.record.name + " / Joueurs");
  |         });
  |         return $button;
  |       }
  |     }
  |   }
  | }); // End "#teams" jtable
  | //
  | $( "#players" ).jtable({
  |   title: "Joueurs",
  |   jqueryuiTheme: true,
  |   toolbar: {
  |     items: [{
  |       text: 'Back',
  |       click: function () {
  |           root = "";
  |           $( "#players" ).hide();
  |           $( "#teams" ).show();
  |       }
  |     }]
  |   },
  |   actions: {
  |     listAction: function(postData, options) {
  |       return emit("READ", "players/any");
  |     },
  |     createAction: function(postData) {
  |       var data = extract(postData);
  |       return emit("CREATE", "players/new", data);
  |     },
  |     updateAction: function(postData) {
  |       var data = extract(postData);
  |       return emit("UPDATE", "players/" + data._id, data);
  |     },
  |     deleteAction: function(data){
  |       return emit("DELETE", "players/" + data._id, data);
  |     }
  |   },
  |   fields: {
  |     _id: {
  |       key: true,
  |       list: false
  |     },
  |     photo: {
  |       title: "Photo",
  |       display: function(model) {
  |         return $('<img src="' + model.record.photo + '"></img>');
  |       }
  |     },
  |     name: {
  |       title: "Nom"
  |     },
  |     nationality: {
  |       title: "Pays"
  |     },
  |     age: {
  |       title: "Age"
  |     },
  |     position: {
  |       title: "Poste"
  |     },
  |     number: {
  |       title: "Maillot"
  |     }
  |   }
  | }).hide(); // End "#players" jtable
  | //
  | var team_ref = $( "#teams" );
  | var player_ref = $( "#players" );
  | var response = {};
  | socket.on('message', function(msg) {
  |   if (promises[msg.token]) {
  |     var data = {};
  |     data["Result"] = "OK";
  |     if (msg.data instanceof Array) {
  |       data["Records"] = msg.data;
  |     } else if (msg.data instanceof Object) {
  |       data["Record"] = msg.data;
  |     }
  |     console.log("Before resolve: " + JSON.stringify(data));
  |     promises[msg.token].resolve(data);
  |     delete promises[msg.token];
  |   }
  |   else if ((msg.method == "UPDATE") && (msg.uri == "teams")) {
  |     console.log("[Team] received: " + JSON.stringify(msg));
  |     if (!response.team) {
  |       response.team = msg.data;
  |       team_ref.jtable("load", response);
  |     } else {
  |       response.team = msg.data;
  |       team_ref.jtable("reload");
  |     }
  |   }
  |   else {
  |     // split msg.uri and find the last model
  |     switch (msg.method) {
  |     case "CREATE":
  |       break;
  |     case "UPDATE":
  |       break;
  |     case "DELETE":
  |       break;
  |     }
  |   }
  | });
  | function emit(_method, _uri, _data) {
  |   var model = _uri.split("/")[0];
  |   var _token = token();
  |   socket.emit('message', { method: _method, uri: context[model].root + _uri, token: _token, data: _data });
  |   return $.Deferred(function (promise) {
  |     promises[_token] = promise;
  |   });
  | } 
  | //
  | //
  | // Utility
  | function extract(uri) {
  |   var data = {}, token;
  |   var pairs = uri.split("&");
  |   var decode = "";
  |   pairs.forEach( function(key) {
  |     token = key.split("=");
  |     data[token[0]] = token[1].replace(/\+/g, " ");
  |   });
  |   return data;
  | }
  | // Generate a random token
  | function token() {
  |   return Math.random().toString(36).substr(2);
  | }
  | });