div#metadata
  div#teams
  div#players

script
  | $( "#teams" ).jtable({
  |   title: "Equipes",
  |   jqueryuiTheme: true,
  |   actions: {
  |     listAction: function(postData, options) {
  |       return emit("READ", "teams/any");
  |     },
  |     createAction: function(postData) {
  |       var data = extract(postData);
  |       return emit("CREATE", "teams/new", data);
  |     },
  |     updateAction: function(postData) {
  |       var data = extract(postData);
  |       return emit("UPDATE", "teams/" + data._id, data);
  |     },
  |     deleteAction: function(data){
  |       return emit("DELETE", "teams/" + data._id, data);
  |     }
  |   },
  |   fields: {
  |     _id: {
  |       key: true,
  |       list: false
  |     },
  |     logo: {
  |       title: "Logo",
  |       display: function(team) {
  |         return $('<img src="' + team.record.logo + '"></img>');
  |       }
  |     },
  |     name: {
  |       title: "Equipe"
  |     },
  |     coach: {
  |       title: "Entraineur"
  |     },
  |     president: {
  |       title: "President"
  |     },
  |     stadium: {
  |       title: "Stade"
  |     },
  |     players: {
  |       title: "Joueurs",
  |       edit: false,
  |       create: false,
  |       display: function(team) {
  |         var $button = $('<button />');
  |         $button.button({ 
  |           icons: { secondary: "ui-icon-triangle-1-e" },
  |           label: "edit"
  |         }).click(function() {
  |           console.log("Editing team/" + team.record._id + "/players/");
  |           context["players"].root = "teams/" + team.record._id + "/";
  |           $( "#teams" ).hide();
  |           $( "#players" ).jtable('load').show();
  |           $( "#players" ).find('.jtable-title-text').html("Equipes / " + team.record.name + " / Joueurs");
  |         });
  |         return $button;
  |       }
  |     }
  |   }
  | }); // End "#teams" jtable
  | //
  | $( "#players" ).jtable({
  |   title: "Joueurs",
  |   jqueryuiTheme: true,
  |   toolbar: {
  |     items: [{
  |       text: 'Back',
  |       click: function () {
  |           root = "";
  |           $( "#players" ).hide();
  |           $( "#teams" ).show();
  |       }
  |     }]
  |   },
  |   actions: {
  |     listAction: function(postData, options) {
  |       return emit("READ", "players/any");
  |     },
  |     createAction: function(postData) {
  |       var data = extract(postData);
  |       return emit("CREATE", "players/new", data);
  |     },
  |     updateAction: function(postData) {
  |       var data = extract(postData);
  |       return emit("UPDATE", "players/" + data._id, data);
  |     },
  |     deleteAction: function(data){
  |       return emit("DELETE", "players/" + data._id, data);
  |     }
  |   },
  |   fields: {
  |     _id: {
  |       key: true,
  |       list: false
  |     },
  |     photo: {
  |       title: "Photo",
  |       display: function(model) {
  |         return $('<img src="' + model.record.photo + '"></img>');
  |       }
  |     },
  |     name: {
  |       title: "Nom"
  |     },
  |     nationality: {
  |       title: "Pays"
  |     },
  |     age: {
  |       title: "Age"
  |     },
  |     position: {
  |       title: "Poste"
  |     },
  |     number: {
  |       title: "Maillot"
  |     }
  |   }
  | }).hide(); // End "#players" jtable
  | //
  | $( "#teams" ).jtable("load", {});
