div(style={width: "400px"})
  div#templates

script
  | $( "#templates" ).jtable({
  |   title: "Games",
  |   jqueryuiTheme: true,
  |   actions: {
  |     listAction: function(postData, options){
  |       return emit("READ", "templates/any");
  |     },
  |     createAction: function(postData) {
  |       var data = extract(postData);
  |       return emit("CREATE", "templates/new", data);
  |     },
  |     updateAction: function(postData) {
  |       var data = extract(postData);
  |       return emit("UPDATE", "templates/" + data._id, data);
  |     },
  |     deleteAction: function(data){
  |       return emit("DELETE", "templates/" + data._id, data);
  |     }
  |   },
  |   fields: {
  |     _id: {
  |       key: true,
  |       list: false
  |     },
  |     title: {
  |       title: "Affiche"
  |     },
  |     date: {
  |       type: "date",
  |       title: "Date",
  |       displayFormat: "yy-mm-dd"
  |     }
  |   }
  | });
  | $( "#templates" ).jtable("load", {});