div(style={width: "300px"})
  div#templates

script
  | var socket = io( document.location.hostname + ':' + port + '/template' );
  | $( "#templates" ).jtable({
  |   title: "Games",
  |   jqueryuiTheme: true,
  |   actions: {
  |     listAction: function(response, options){
  |       return {
  |         "Result": "OK",
  |         "Records": response.template
  |       };
  |     },
  |     createAction: function(postData) {
  |       var template = extract(postData);
  |       socket.emit('message', {method: "CREATE", uri: "templates/new", data: template});
  |       return {
  |               "Result": "OK",
  |               "Record": template
  |             }; 
  |     },
  |     updateAction: "",
  |     deleteAction: ""
  |   },
  |   fields: {
  |     date: {
  |       type: "date",
  |       title: "Date",
  |       displayFormat: "yy-mm-dd"
  |     },
  |     title: {
  |       title: "Affiche"
  |     }
  |   }
  | });
  | var ref2 = $( "#templates" );
  | var response2 = {};
  | socket.on('message', function(msg) {
  |   console.log("received: " + JSON.stringify(msg));
  |   if ((msg.method == "UPDATE") && (msg.uri == "templates")) {
  |     fixDate(msg.data);
  |     if (!response2.template) {
  |       response2.template = msg.data;
  |       ref2.jtable("load", response2);
  |     } else {
  |       response2.template = msg.data;
  |       ref2.jtable("reload");
  |     }
  |   }
  | });
  | socket.emit('join');
  | // Utility
  | function extract(uri) {
  |   var data = {}, token;
  |   var pairs = uri.split("&");
  |   pairs.forEach( function(key) {
  |     token = key.split("=");
  |     data[token[0]] = unescape(token[1]);
  |   });
  |   return data;
  | }
  | // Fixing date
  | function fixDate(records) {
  |   records.forEach(function(record) {
  |     if (record.date) {
  |       console.log("Fixing date > ");
  |       record.date = "/Date(" + Date.parse(record.date) + ")/";
  |     }
  |   });
  | }
